<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Simple Mortgage Calculator</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/img/cba-logo.png"/>
                @Html.ActionLink("Simple Mortgage Calculator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Commonwealth Bank of Australia</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
    $(document).ready(function () {
        $("input[name=calButton]").on('click', function () {
            var selectedMortgage = $('input[name = mortSelected]:checked');
            var loanAmount = $('#loanAmount');
            var loanDuration = $('#loanDuration');
            var interestType = selectedMortgage.text().split(',')[0];
            var interestRate = selectedMortgage.text().split(',')[1];
            var ttlRepayment = 0.00;
            var ttlInterest = 0.00;

            if (interestType.indexOf('InterestOnly') != -1) {
                var monthlyInterestRate = (interestRate / 100) / 12;
                var interestPerMonth = monthlyInterestRate * loanAmount;
                ttlInterest = interestPerMonth * loanDuration * 12;
                ttlRepayment = ttlInterest + loanAmount;
            } else {
                var monthlyInterestRate = (interestRate / 100) / 12;
                var interestPerMonth = monthlyInterestRate * loanAmount;
                ttlInterest = interestPerMonth * loanDuration * 12;
                ttlRepayment = ttlInterest + loanAmount;
            }
            


            //var design = $('input[name=design]:checked');
            //var designVal = parseInt(design.val());
            //var qtt = $("#qtt").val();
            //var subDrop = parseInt(design.data('drop-' + qtt));
            //if (!subDrop) subDrop = 0;
            //if (!designVal) designVal = 0;
            $('#totalRepayment').text(ttlRepayment.val)
            $('#totalInterest').text(ttlInterest.val)
        });
    });
    </script>
</body>
</html>
